<div class="calender-container conatiner-fluid">
    <div class="row text-center">
        <div class="col-10">
            <div class="calender-headings text-white">
                <h1 class="welcome-text">Calender</h1>
                    <!-- month name and year -->
                <h2>month year</h2>
            </div>
        </div>
    </div>

    <div class="row calender-cubes">
            
        <!-- row 1 -->
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
            
        <div class="w-100"></div>
            
        <!-- row 2 -->
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
                        
        <div class="w-100"></div>
            
        <!-- row 3 -->
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
            
        <div class="w-100"></div>
            
        <!-- row 4 -->
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
                        
        <div class="w-100"></div>
            
        <!-- row 5 -->
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
        
    </div>
</div>