<div class="container-cal flex-column">
    <div class="row">
        <div class="col-10">
            <div class="calender-headings text-white justify-content-center text-center">
                <h1 class="welcome-text w-100">Calender</h1>
                    <!-- month name and year -->
                <h2 class="text-center w-100">June 15th</h2>
            </div>
        </div>
    </div>

    <div class="row calender-cubes justify-content-center">
            
        <!-- row 1 -->
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
            
        <div class="w-100"></div>
            
        <!-- row 2 -->
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
                        
        <div class="w-100"></div>
            
        <!-- row 3 -->
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
            
        <div class="w-100"></div>
            
        <!-- row 4 -->
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
                        
        <div class="w-100"></div>
            
        <!-- row 5 -->
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
        <div class="col-sm-1 cube"></div>
        
    </div>
</div>
</div>