<div class="container-dash">
<div class="stats flex-column w-100">
    <div class="stat-title">
        <h2>Statistics</h2>
    </div>
    <div class="statistics flex-row w-100">
        <div class="stat-box flex-column">
            <div class="box-title">
                <p>Meetings</p>
            </div>

            <div class="box-content flex-row">
                <div class="line"></div>
                <h3>3</h3>
            </div>
        </div>

        <div class="stat-box flex-column">
            <div class="box-title">
                <p>Tasks</p>
            </div>

            <div class="box-content flex-row">
                <div class="line"></div>
                <h3>15</h3>
            </div>
        </div>

        <div class="stat-box flex-column">
            <div class="box-title">
                <p>Projects</p>
            </div>

            <div class="box-content flex-row">
                <div class="line"></div>
                <h3>7</h3>
            </div>
        </div>

        <div class="stat-box flex-column">
            <div class="box-title">
                <p>Days Left</p>
            </div>

            <div class="box-content flex-row">
                <div class="line"></div>
                <h3>11</h3>
            </div>
        </div>
    </div>
</div>

<div class="online flex-column w-100">
    <div class="online-title">
        <h2>Online</h2>
    </div>

    <div class="faces">
        <div class="stat-box">
            <img src="images/sandeep.png">
        </div>
        <div class="stat-box">
            <img src="images/ushante.png">
        </div>
        <div class="stat-box">
            <img src="images/michael.png">
        </div>
    </div>
</div>

</div>