{{#each todos as |todo|}}
<div class="todo">
    <p class="todo-text">{{todo.text}}</p>
    <form>
        <input type="checkbox" id="todoComplete">
    </form>
</div>
{{/each}}

<script src="/js/homepage.js"></script>