<div class="container-login">
    <div class="card">
        <div class="login-wrapper">
            <h1>Signup</h1>
            <div class="icon-wrapper">
                <a href="/auth/github"><img class="icon" src="https://img.icons8.com/small/64/ffffff/github.png"/></a>
                <a href="/auth/google"><img class="icon" src="https://img.icons8.com/ios-glyphs/60/ffffff/google-logo.png"/></a>
            </div>
        </div>

            <form class="signup-form">
                <div class="group-form">
                    <img class="icon" src="https://img.icons8.com/ios-glyphs/30/ffffff/gender-neutral-user.png"/>
                    <input class="form-input" type="text" id="name-signup" placeholder="full name" required/>
                </div>

                <div class="group-form">
                    <img class="icon" src="https://img.icons8.com/ios-glyphs/30/ffffff/gender-neutral-user.png"/>
                    <input class="form-input" type="text" id="email-signup" placeholder="e-mail address" required/>
                </div>

                <div class="group-form">
                    <img class="icon" src="https://img.icons8.com/ios-glyphs/30/ffffff/lock--v1.png"/>
                    <input class="form-input" type="password" id="password-signup" placeholder="password" required/>
                </div>

                <div class="group-form">
                    <button class="submit-button" type="submit">Signup</button>
                </div>
            </form>

            <a class="signup" href="/login">
                <img src="https://img.icons8.com/ios-glyphs/30/ffffff/filled-chat.png"/><p>Login</p>
            </a>
        </div>
    </div>
</div>