<div class="container-todo">
    <div class="row">
        <h2>To-Do List</h2>
        <div class="col-7">

            <div class="todo-wrapper">
                {{#each todos}}
                <div class="todo">
                    <p>{{this.description}}</p>
                    <div class="wrapper">
                        <a class="welcome-btn h-100" data-id="{{this.id}}" id="deleteTodo">x</a>
                        <input type="checkbox" class="checkbox">
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        
        <div class="col-5">
            <div class="add-input">
                <input type="text" placeholder="title" name="todos" id="todo-title">
                <input type="text" placeholder="description" name="todos" id="todo-description">
                <a class="welcome-btn" id="addTodo">
                    <img src="https://img.icons8.com/ios-glyphs/48/ffffff/plus-math.png"/><p>Add Todo</p>
                </a>
            </div>
        </div>
    </div>
</div>
