<div class="row">
    <div class="col-7">
        <div class="welcome-wrapper text-white">
            <h2>Welcome, {user.name}</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at nisl in nibh aliquam fringilla. Fusce vitae placerat nulla, sit amet dignissim dolor. Nunc magna massa, sollicitudin eget risus vel, dignissim convallis diam. Nulla id tortor risus. Suspendisse ultrices lobortis nisi, facilisis pharetra tellus volutpat et. Duis volutpat faucibus sem vel ullamcorper. Sed non nisl nec nulla tincidunt efficitur vitae in metus. Nunc at pharetra ligula. Nulla lectus odio, mattis eget velit vel, convallis varius ipsum. Sed ac lorem id lacus sollicitudin semper. Duis ac ipsum vel ex vestibulum gravida non at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id lorem metus.</p>
        </div>
    </div>

    <div class="col-5">
        <img src="">
    </div>
</div>