/* ==================== FONT ===================================== */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&display=swap");

:root {
  --gradient-main: linear-gradient(0.25turn, #00f5a0, #00d9f5);

  /* ================ DEFAULT COLOURS ==================== */
  --sidebar-color: #242424;
  --main-color: #fff;
  --sub-heading: #6d6d6d;
  --date: #C4C4C4;


  /* ================ DEFAULT SIZE ==================== */
  --logo-text: 3.5vw;
  --sidebar-text: 2vw;
  --sub-text: 1.5vw;
  --welcome-text: 100px;
  --date-text: 26px;
  --week-text: 18px;

  /* ================ DEFAULT FONT ==================== */
}

body {
  font-family: "Poppins", sans-serif;
}

.sidebar {
  background-color: var(--sidebar-color);
}

.content {
  background: var(--gradient-main);
}

.btn {
  font-size: var(--sidebar-text);
  border-radius: 25px;
  color: var(--main-color);
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.btn p,
.logout p {
  margin-bottom: 0;
}

.btn img {
  margin-right: 1vw;
}

.btn:hover {
  background: var(--gradient-main);
  color: var(--main-color);
}
.nav-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  height: auto;
}

.logout {
  display: flex;
  color: white;
  text-decoration: none;
  align-items: center;
  margin: 2.5vw;
  width: auto;
  height: auto;
  border-radius: 25px;
}

.logout:hover {
  color: var(--main-color);
  cursor: pointer;
}

.tool {
  font-size: var(--sub-text);
}

.logo h1 {
  font-size: var(--logo-text);
}

.welcome-wrapper h2 {
  font-size: var(--welcome-text);
  color: var(--main-color);
}

.welcome-wrapper p {
  font-weight: 300;
}

.calender-headings h1 {
  font-size: var(--welcome-text);
}

.calender-headings h2 {
  font-size: var(--date-text);
  color: var(--date);
  font-weight: 800;
}

.cube {
  width: 115px;
  height: 115px;

  margin: 10px ;

  background: rgba(68, 68, 68, 0.6);
  border-radius: 10px;
}

.calender-container {
  margin-left: 20vh;
}

.calender-headings > h1 {
  margin-bottom: -10px ;
  margin-top: -40px;
}

.col > h3 {
  font-size: var(--week-text) ;
}