/* ==================== FONT ===================================== */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&display=swap");

:root {
  --gradient-main: linear-gradient(0.25turn, #00f5a0, #00d9f5);

  /* ================ DEFAULT COLOURS ==================== */
  --sidebar-color: #242424;
  --main-color: #fff;
  --sub-heading: #6d6d6d;

  /* ================ DEFAULT SIZE ==================== */
  --logo-text: 50px;
  --sidebar-text: 30px;
  --sub-text: 30px;
  --welcome-text: 100px;

  /* ================ DEFAULT FONT ==================== */
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #242424;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

/* =================================== NAV - MAIN ================================ */

header {
  display: flex;
  justify-content: space-around;
  background-color: #242424;
  height: 170px;
}

header a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gradient {
  position: absolute;
  width: 1378px;
  height: 1319px;
  left: 581px;
  top: -763px;
  z-index: -3;
  background: linear-gradient(90deg, #00f5a0 0%, #00d9f5 100%);
  filter: blur(500px);
  overflow-x: hidden;
}

.btn {
  font-size: var(--sidebar-text);
  border-radius: 25px;
  color: var(--main-color);
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0.25em;
}

.btn p,
.logout p {
  margin: 0;
}

.navbar p {
  margin-left: 1vw;
}

.navbar {
  padding: 2rem;
}

.btn:hover {
  background: var(--gradient-main);
  color: var(--main-color);
}
/* =================================== LOGIN ================================ */
.container-login {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

.card {
  width: 80%;
  height: 60%;
  background: rgba(68, 68, 68, 0.6);
  border-radius: 50px;
  padding: 3em;
}

.login-wrapper {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.group-form {
  display: flex;
  align-items: center;
}

.form-input {
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
}

.signup {
  display: flex;
  justify-content: start;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.submit-button {
  width: 30%;
  background: var(--gradient-main);
  font-family: "Poppins", sans-serif;
  margin-top: 3vh;
  color: #fff;
  border-radius: 25px;
}

/* =================================== LOGIN ================================ */

#rcorners1 {
  border-radius: 25px;
  background: #73ad21;
  padding: 20px;
  width: 200px;
  height: 150px;
}

/* =================================== LOGIN ================================ */

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

.calender-headings h1 {
  font-size: var(--welcome-text);
  font-weight: 700;
}

.calender-headings h2 {
  font-size: var(--date-text);
  color: var(--date);
  font-weight: 800;
}

.cube {
  width: 115px;
  height: 115px;

  margin: 10px;

  background: rgba(68, 68, 68, 0.6);
  border-radius: 10px;
}

.calender-container {
  margin-left: 20vh;
}

.calender-headings > h1 {
  margin-bottom: -10px;
  margin-top: -40px;
}

.col > h3 {
  font-size: var(--week-text);
}

/* ============todos============ */

.todo-cards-container {
  position: absolute;
  width: 900px;
  height: 50vh;
}

.todo-container > h1 {
  font-size: 100px;
  color: white;
  font-weight: 700;
}

/* todolist user added card */

.todo-card {
  width: 825px;
  height: 115px;
  margin: 20px 0 20px 0;

  background: rgba(68, 68, 68, 0.6);
  border-radius: 10px;
  border-color: transparent;
}

.form-check-label {
  font-size: 45px;
  font-family: 800;
  color: white;
}

/* ==========checkbox=========== */
input[type="checkbox"] {
  transform: scale(1);
}

input[type="checkbox"] {
  width: 30px;
  height: 10px;
  cursor: pointer;
  visibility: hidden;
  margin-top: -10px;
  margin-right: 30px;
}

input[type="checkbox"]:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  margin-left: 10px;
  color: #00d9f5;
  width: 60px;
  height: 60px;
  visibility: visible;
  border: 4px solid #00d9f5;
  border-radius: 20px;
}

input[type="checkbox"]:checked:after {
  /* make this fill up with colour */
  content: " ";
  background-image: linear-gradient(0.25turn, #00f5a0, #00d9f5);
}
/* ===========checkbox=========== */

.button-container {
  position: absolute;
  right: -200px;
  margin: 38px;
  top: 200px;
}

.btn-todo {
  width: 210px;
  height: 207px;

  background: rgba(68, 68, 68, 0.6);
  border-radius: 50px;

  font-size: 30px;
  color: white;
}

.btn-todo > img {
  margin-bottom: 5px;
}

.add-todo-card {
  width: 500px;
  height: 311px;

  margin: 38px;

  background: rgba(68, 68, 68, 0.6);
  border-radius: 50px;
}

.user-todo-input > input {
  border-radius: 25px;
  transform: scale(1);
  height: 180px;
  width: 450px;

  margin: 25px;

  font-size: 30px;
}

.btn-add-todo {
  border-radius: 25px;
  width: 303px;
  height: 70px;
  background: var(--gradient-main);
  border-color: transparent;

  margin-left: 25px;
  margin-top: -10px;
  font-size: 30px;
}

.welcome-btn {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  background: var(--gradient-main);
  border-radius: 20px;
  width: 30%;
  justify-content: center;
  padding: 1rem;
}

.welcome-btn:hover {
  color: white;
  opacity: 90%;
  cursor: pointer;
}

.welcome-btn p {
  margin-bottom: 0;
}

h2 {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  color: white;
  font-size: 5vw;
}

.container-dash {
  padding: 3vw;
}

.stat-box {
  background: rgba(68, 68, 68, 0.6);
  border-radius: 50px;
  width: 190px;
  height: 190px;
  margin: 2rem;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
}

.statistics {
  display: flex;
}

.line {
  background: var(--gradient-main);
  width: 8px;
  height: 70px;
  border-radius: 10px;
}

.box-content {
  display: flex;
}

h3 {
  font-size: 3.5em;
  margin-left: 1rem;
}

.faces {
  display: flex;
}

.container-cal {
  padding: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-todo {
  padding: 3vw;
}

.add-task__box {
  background: rgba(68, 68, 68, 0.6);
  border-radius: 50px;
  width: 210px;
  height: 210px;
  display: flex;
  align-items: center;
  font-weight: 700;
  color: white;
  cursor: pointer;
}

.add-input {
  background: rgba(68, 68, 68, 0.6);
  border-radius: 50px;
  padding: 2rem;
}

.add-input input {
  border-radius: 25px;
}

.todo {
  background: rgba(68, 68, 68, 0.6);
  border-radius: 10px;
  height: 75px;
  padding: 1rem;
  margin-bottom: 3vh;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 45px;
  font-weight: 700;
}

.todo p {
  margin-bottom: 0px;
}

.wrapper {
  height: 100%;
  display: flex;
}

#deleteTodo {
  padding: 1rem;
  width: 5rem;
}
