/* ============todos============ */

.todo-cards-container {
    position: absolute;
    width: 900px;
    height: 50vh;
}

.todo-container > h1 {
    font-size: 100px;
    color: white;
}

/* todolist user added card */

.todo-card {
    width: 825px;
    height: 115px;
    margin: 20px 0 20px 0;

    background: rgba(68, 68, 68, 0.6);
    border-radius: 10px;
    border-color: transparent;
}

.form-check-label {
    font-size: 45px;
    font-family: 800;
    color: white;
}

/* ==========checkbox=========== */
input[type=checkbox] {
    transform: scale(1);
    }

    input[type=checkbox] {
        position: absolute;
        left: 700px;
        top: 15px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        visibility: hidden;
        margin-top: -15px;
    }
    
    input[type=checkbox]:after {
        content: " ";
        display: inline-block;
        margin-left: 10px;
        color: #00d9f5;
        width: 70px;
        height: 70px;
        visibility: visible;
        border: 2px solid #00d9f5;
        border-radius: 20px;
        
    }
    
    input[type=checkbox]:checked:after {
        /* make this fill up with colour */
        content: " ";
        background-image: linear-gradient(0.25turn, #00f5a0, #00d9f5);
    
    }
/* ===========checkbox=========== */

.button-container {
    position: absolute;
    right: -200px;
    margin: 38px;
    top: 200px;
}

.btn-todo {
    width: 210px;
    height: 207px;

    background: rgba(68, 68, 68, 0.6);
    border-radius: 50px;

    font-size: 30px;
    color: white;
}

.btn-todo >img {
    margin-bottom: 5px;
}

.add-todo-card {
    position: absolute;
    left: 931px;

    top: 420px;
    width: 500px;
    height: 311px;
    

    margin: 38px;

    background: rgba(68, 68, 68, 0.6);
    border-radius: 50px;
}

.user-todo-input > input {
    border-radius: 25px;
    transform: scale(1);
    height: 180px;
    width: 450px;

    margin: 25px;

    font-size: 30px;
}

.btn-add-todo {
    border-radius: 25px;
    width: 303px;
    height: 70px;
    background: var(--gradient-main);
    border-color: transparent;

    margin-left: 25px;
    margin-top: -10px;
    font-size: 30px;
}